@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: rgba($color: #000000, $alpha: 0.9);
}
nav {
    user-select: none;
    background: rgba($color: #0f0, $alpha: 0.5);
    display: flex;
    position: absolute;
    left: 0;top: 0;
    min-height: 100vh;
    max-width: 10vw;
    min-width: 90px;
    // padding-top: 10vh;
    justify-content: center;
    align-items: center;
    line-height: 10vh;
    ul {
        list-style: none;
        
        li {
            img {
                height: 10vh;
                &:hover {
                    background: rgba($color: #000000, $alpha: 0.5);
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
    }
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        margin-top: 25vh;
        // background-color: rgba($color: #00f, $alpha: 0.3);
        text-align: center;
        color: rgba(255,255,255,0.8);
        h1#bankname {
            font-size: 10vh;
            text-transform: uppercase;
            user-select: none;
        }
        #accNo {
            font-size: 9vh;
        }
    }
}